@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Awesome Serif Normal";
    src: url("../src/assets/fonts/AwesomeSerif-Regular.otf") format("opentype");
         
    font-weight: 400;
    font-style: normal;
  }

  
  @font-face {
    font-family: "Awesome Serif Bold Tall";
    src: url("../src/assets/fonts/AwesomeSerif-BoldTall.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  


  
  