@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Awesome Serif";
    src: url("/src/assets/fonts/AwesomeSerif-Regular.woff2") format("woff2"),
         url("/src/assets/fonts/AwesomeSerif-Regular.woff") format("woff"),
         url("/src/assets/fonts/AwesomeSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Awesome Serif";
    src: url("/src/assets/fonts/AwesomeSerif-BoldRegular.woff2") format("woff2"),
         url("/src/assets/fonts/AwesomeSerif-BoldRegular.woff") format("woff"),
         url("/src/assets/fonts/AwesomeSerif-BoldRegular.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Awesome Serif";
    src: url("/src/assets/fonts/AwesomeSerif-LightRegular.woff2") format("woff2"),
         url("/src/assets/fonts/AwesomeSerif-LightRegular.woff") format("woff"),
         url("/src/assets/fonts/AwesomeSerif-LightRegular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Awesome Serif";
    src: url("/src/assets/fonts/AwesomeSerif-Italic-VAR-VF.woff2") format("woff2"),
         url("/src/assets/fonts/AwesomeSerif-Italic-VAR-VF.woff") format("woff"),
         url("/src/assets/fonts/AwesomeSerif-Italic-VAR-VF.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  
    @font-face {
        font-family: "Awesome Serif";
        src: url("/src/assets/fonts/AwesomeSerif-BoldItalic-VAR-VF.woff2") format("woff2"),
             url("/src/assets/fonts/AwesomeSerif-BoldItalic-VAR-VF.woff") format("woff"),
             url("/src/assets/fonts/AwesomeSerif-BoldItalic-VAR-VF.ttf") format("truetype");
        font-weight: 700;
        font-style: italic;
    }

    
  
  